<!DOCTYPE html>
<html>
<head>
<style>

#header {
    background-color:red;
    color:white;
    text-align:center;
    padding:5px;
}

#nav {
    line-height:30px;
    background-color:blue;
    color:white;
    text-align:center;
    padding:5px;	      
}

</style>
</head>

<div id= "header">
<h1><b><i>WLadder</i></b></h1>
</div>

<body>
<p1>

Fill in each step with a word that differs from the word in the previous step by no more than one character. Once you reach a word that differs from the goal by only one letter, you can stop and leave the remainder of the steps empty.

<div id= "nav">
Start: <%= @start %>

<%= form_tag(query1_path, method: "get") do  %>

    <%= label_tag(:query1, "Step 1: ") %>
    <%= text_field_tag(:query1) %>
<br>
    <%= label_tag(:query2, "Step 2: ") %>
    <%= text_field_tag(:query2) %>
<br>
    <%= label_tag(:query3, "Step 3: ") %>
    <%= text_field_tag(:query3) %>
<br>
    <%= label_tag(:query4, "Step 4: ") %>
    <%= text_field_tag(:query4) %>
<br>
    <%= label_tag(:query5, "Step 5: ") %>
    <%= text_field_tag(:query5) %>
<br>
Goal: <%=@goal %>
<br>
</div>

<div id= "header">
    <br>
    <br>
    <%= submit_tag("!!CheckY ChaN!!") %>
    <br>
    <br>
    <br>
</div>


    <%= hidden_field_tag(:start, @start)%>
    <%= hidden_field_tag(:goal, @goal)%>

</p1>
</body>

<br>
<% end %>
</html>
