<!DOCTYPE html>
<html>
<%= link_to "WLadder", root_path %>
<head>

<style>

#header {
    background-color:red;
    color:black;
    padding:5px;
}

#nav {
    line-height:30px;
    background-color:blue;
    color:white;
    text-align:center;
    padding:5px;	      
}

</style>
</head>

<div id= "header">
</div>

<div id= "nav">
Start: <%= @start %>
<br>

<% @array.each do |x| %>
	<% if( @array.first == x or @array.last == x )%>

	<% else %>
    		<%= x %>
		<br>
	<% end %>
<% end %>

Goal:
<%= @goal %>
<br>

Oh Hey Guess What! YOU

<%= @won %>

Brotha...
<br>
or Sista (I'm not playing favorites)
<br>
<br>
</div>
<div id= "header">
</div>

<%= link_to "WLadder", root_path %>
