<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @image_user.id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @image_user.image_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @image_user.user_id %>
</p>

<%= link_to 'Edit', edit_image_user_path(@image_user) %> |
<%= link_to 'Back', image_users_path %>
