<div class="body">
<html class="body">

<p id="notice"><%= notice %></p>

<%=link_to 'New Image', new_image_path %>

<center><h1>!! Social Image Network !!</h1></center>

<br>

<% if user_signed_in? %>
<center><h2>Users Images</h2></center>
  <% @images.each do |image| %>
	  <% if current_user.name == image.user.name %>
		<div class="box2">
		<table>
			<tr>
				<td>
					<%=link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
				<br>
				<%= link_to 'Edit', edit_image_path(image) %>
				<%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
		</table>
		</div>
	  <% end %>
  <% end %>
<br>
<br>
<br>

<center><h2>Public Images<h2></center>

  <% @images.each do |image| %>
	  <% if current_user.name != image.user.name %>
		<div class="box2">
		<table>
			<tr>
				<td>
					<%=link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
					<br> <%=image.user.name %>
				</td>
				<br>
				<td><%= link_to 'Edit', edit_image_path(image) %></td>
				<td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		</table>
		</div>
	  <% end %>
  <% end %>


<br>

<% else %>

<center><h2>Public Images<h2></center>
	<% @images.each do |image| %>
		<tr>
			<td>
			<% if image.private == "f" %>
			<div class="box2">
			<%=link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
			<br> <%= image.user.name %>
			</div>
			<% end %>
			</td>
		</tr>
<% end %>
<% end %>
</html>
</div>
