<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<%if user_signed_in? %>
  <% @images.each do |image| %>
    
<div class="box2">
	<table>
    	<tr>
			<td>
				<%=link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
				<br> <%=image.user.name %>
			</td>

			<td><%= link_to 'Edit', edit_image_path(image) %></td>
			<td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	</table>
</div>

  <% end %>

<br>

<%=link_to 'New Image', new_image_path %>

<%else%>
	<% @images.each do |image| %>
<div class="box2">
	<table>
		<tr>
			<td>
			<%=link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
			<br> <%= image.user.name %>
			</td>
		</tr>
	</table>
</div>
	<% end %>

<% end %>
