<div class="body">
<center>

<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <% if @image.private == "t" %>
  <strong>Private Image</strong>

  <% else %>
  <strong>Public Image</strong>

  <% end %>
</p>

<p>
  <% if user_signed_in? %>
  <strong>Owner:</strong>
  <%= @image.user.name %>
  <br>
  <br>
  <%= image_tag @image.filename, size: "800x800", alt: @image.filename %>
  <br>
</p>

<strong>Tags:</strong>
<% @tag.each do |tag| %>
	<%= tag.str %>
	<%= link_to "EDIT", edit_tag_path(tag) %>
    <%= link_to "DELETE", tag, method: :delete %>
	<br>
<% end %>

<br>
<strong>New Tag</strong>
<%= form_for([@image,@tag_new]) do |new_tag| %>
<%= new_tag.text_field :str %>
<%= new_tag.submit "Add Tag" %>
<% end %>
<br>

<%= link_to 'Back', images_path %>

  <% else %>

  <strong>Owner:</strong>
  <%= @image.user.name %><br> 
  <%= image_tag @image.filename, size: "800x800", alt: @image.filename %>
  </p>

	<strong>Tags:</strong>
	<% @tag.each do |tag| %>
		<%= tag.str %> <br>
	<% end %>

	<%= link_to 'Back', images_path %>

  <% end %>
</center>
</div>
