<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Private:</strong>
  <%= @image.private %>
</p>

<p>
  <strong>User:</strong>
  <% @image.user.name %><br> 
  <%= image_tag @image.filename, size: "800x800", alt: @image.filename %>
</p>

<% @tags.each do |tag| %>
	<% tag.str %> <br>
<% end %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
